<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>ABOUT US</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->


<div class="job-seeker-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <img src="../../assets/images/logo.jpg" alt="">
        </div>
    </div>
</div>
<!-- Start Job Seeker Area -->
<div class="job-seeker-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Description</h2>
            <p>
                Tunisiatech : Une large gamme de produits avec un très bon rapport qualité/prix.
            </p>
            <p>
                Tunisiatech est une entreprise installée en Tunisie spécialisée dans la vente de produits téléphoniques, numériques, électroménagers, audio-visuels, etc. L’entreprise dispose d’un réseau de 7 points de vente implantés dans différents coins de la capitale. Afin d’offrir à ses clients un service de qualité, Tunisiatech a déjà entamé une stratégie de digitalisation avec une présence accrue sur le web, à travers son site marchand mais aussi avec une présence soutenue dans les réseaux sociaux. Le site marchand Tunisiatech.tn  permet aux internautes et aux mobinautes de découvrir toutes les catégories de produits Tunisiatech disponibles en stock et de commander le produit de leur choix. L’entreprise se veut une référence en matière de téléphonie en Tunisie et travaille à multiplier ses offres afin de répondre aux besoins d’un grand nombre de clients.

            </p>
            <p>
                Produits et services : 
                Tunisatech : Une grande sélection de smartphones pour les grands fans du Hi-Tech.
            </p>
            <p>
                Tunisiatech propose, en boutique comme en ligne, une grande sélection de smartphones dernière génération. Restant fidèle à ses principes, Tunisiatech propose des produits avec le meilleur rapport qualité/prix sur le marché, et ce notamment grâce à des promotions lancées régulièrement par l’entreprise. L’entreprise propose ainsi des modèles téléphoniques de moyenne gamme ou encore des smartphones hauts de gamme ( Evertek, Remax, Acme, Alcatel, Asus, Evertek Home, Gigaset, Hexabyte, HP, Russel Hobs, Infinix, LG, IVON, Lenovo, Maxwell, Motorola, Orient, Proda, Sandisk, Schneider, Whirlpool, Vega, Celebrate).
            </p>
        </div>
    </div>
</div>
<!-- End Job Seeker Area -->


