<!-- Start Page Banner Area -->
<div class="page-banner-area item-bg-two">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Profile Authentication</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->

<!-- Start Profile Authentication Area -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="profile-authentication-tabs">
            <div class="authentication-tabs-list">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login">Nouveau mot de passe</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <div class="eeza-authentication-form">
                        <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="password" formControlName="password" class="form-control" placeholder="Mot de passe" 
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Mot de passe obligatoire</div>
                                    <div *ngIf="f.password.errors.minlength">
                                        Le mot de passe doit être au moins de 6 caractères
                                    </div>
                                    <div *ngIf="f.password.errors.maxlength">
                                        le mot de passe ne doit pas dépasser 20 caractères
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="confirmPassword" class="form-control" placeholder="Confirmation mot de passe" 
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Mot de passe obligatoire</div>
                                    <div *ngIf="f.password.errors.match">
                                      mot de passe non identique
                                    </div>
                                </div>
                            </div>


                            <button type="submit"  class="default-btn">Valider<i class="flaticon-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Profile Authentication Area -->