<!-- Start Main Banner Area -->
<div class="main-banner-area home">
</div>
<!-- End Main Banner Area -->

<!-- Start Play Video Area -->
<div class="play-video-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="play-video-image">
                    <img src="../../assets/images/logo.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="play-video-content">
                    <div class="play-btn">
                        
                    </div>
                    <h3>Tunisiatech : Une large gamme de produits avec un très bon rapport qualité/prix.</h3>

                    <div class="layer-shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Play Video Area -->

